<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>GuestBook</title>
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link  rel="stylesheet" href="/guestbook.css"/>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="css/main.css">
</head>
<body>
        <div class="header-container">
                <header class="wrapper clearfix">
                    <h1 class="title">UmaA03</h1>
                    <nav>
                        <ul>
                            <li><a href="index.html">Home</a></li>
                            <li><a href="Mychoice.html">Choice</a></li>
                            <li><a href="Contact.html">Contact</a></li>
                            <li><a href="guestbook">GuestBook</a></li>
                        </ul>
                    </nav>
                </header>
            </div>
<h1>
Uma's Guestbook
<a href="/new-entry" class="btn btn-primary pull-right">Write in the guestbook</a>
</h1>
</body>