p
{
   font-size: 150%;
}
h1
{
text-align: center;
}


nav ul
 {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

nav a 
{
    display: block;
    margin-bottom: 10px;
    padding: 15px 0;

    text-align: center;
    text-decoration: none;
    font-weight: bold;

    color: white;
    background: #79735F;
}

nav a:hover,
nav a:visited 
{
    color: white;
}

nav a:hover
 {
    text-decoration: underline;
}
nav ul li
{
   display: inline;
}

.oldie nav a
 {
   margin: 0 0.7%;
}
@media only screen and (min-width: 768px) {
nav
 {
    float: right;
    width: 38%;
}
}